*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
html,body{
    width: 100%;
    height:100%;
    background-color: #f4f4f4;
    color: #3c3c3c;
    overflow-x: hidden;
}
.wrapper{
    height:100%;
    width: 100%;
}

/*******************************************************/
.wrapper .site-nav{
    width: 100%;
    background-color: #F5F5F5;
    border-bottom: 1px solid #eee;
}
.site-nav .site-nav-bd{
    width: 1190px;
    height: 35px;
    background-color: #F5F5F5;
    margin: 0 auto;
    /*border: 1px solid #000000;*/
    /*visibility: hidden;*/
    /*-webkit-backface-visibiliby:hidden;*/
}
.site-nav .site-nav-bd .top-nav-l{
    float: left;
}
.site-nav .site-nav-bd .top-nav-r{
    float: right;
}
.site-nav .site-nav-bd ul li{
    float: left;
    margin-right: 7px;
}
.site-nav .site-nav-bd a{
    color:#6c6c6c;
    font-size: 12px;
    line-height: 35px;
    padding: 0 6px;
}
.site-nav .site-nav-bd a:hover{
    color:#f40;
}
.site-nav .site-nav-bd .top-nav-l .China{
    color: #6c6c6c;
    font-size: 13px;
    line-height: 35px;
}
.site-nav .site-nav-bd .top-nav-r .cut-off{
    line-height: 35px;
    font-size: 12px;
}
.site-nav .site-nav-bd .top-nav-l a.login{
    color: #f40;
}
.site-nav .site-nav-bd .top-nav-l .c-span{
    padding: 0 6px;
}
.site-nav .site-nav-bd .bg-Pic{
    display: inline-block;
    width: 6px;
    height: 3px;
    background-size: 100% 100%;
    vertical-align: middle;
}
.site-nav .site-nav-bd .bg-Pic.xsj-Pic{
    background-image: url("img/xsj.png");
}
.site-nav .site-nav-bd .bg-Pic.shopCar-Pic{
    width: 12px;
    height: 12px;
    background-image: url("img/gwc.png");
}
.site-nav .site-nav-bd .bg-Pic.like-Pic{
    width: 12px;
    height: 12px;
    background-image: url("img/star.png");
}
.site-nav .site-nav-bd .bg-Pic.web-nav-Pic{
    width: 8px;
    height: 8px;
    background-image: url("img/dh.png");
}
/*************************************************************/
.wrapper .top-nav-wrap{
    width: 100%;
    height: 100px;
    background: url("img/bj.png") no-repeat;
}
/**************************************************/
.wrapper .search-warp{
    width:100%;
    height: 97px;
    padding-top: 24px;
    /*border: 1px solid #000000;*/
    background-color: #FFFFFF;
}
.wrapper .search-warp .search-con{
    width: 1190px;
    height: 88px;
    margin: 0 auto;
    /*border: 1px solid #000000;*/
    position: relative;
}
.wrapper .search-warp .search-con .logo-box{
    position:relative;
    top: -10px;
    display: inline-block;
    width: 190px;
    height: 105px;
    /*border: 1px solid #000000;*/
    vertical-align: top;                 /*基于上整线*/
    background-image: url("img/fig.gif");
    background-size: 100% 100%;
}
.wrapper .search-warp .search-con .search-box{
    display: inline-block;
    width: 627px;
    height: 87px;
    /*border: 1px solid #000000;*/
    vertical-align: top;
    margin-left: 50px;
}
.wrapper .search-warp .search-con .search-box .search-t{
    width: 627px;
    height: 62px;
    /*border: 1px solid #000000;*/
}
.wrapper .search-warp .search-con .search-box .search-t .search-tab{
    height: 22px;
    margin-left: 17px;
}
.wrapper .search-warp .search-con .search-box .search-t .search-tab ul li{
    float: left;
    width: 36px;
    height: 22px;
    color: #f40;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    margin-right: 4px;
    /*background-color: green;*/
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    cursor: pointer;
}
.wrapper .search-warp .search-con .search-box .search-t .search-tab ul li:hover{
    background-color:#ffeee5;
}
.wrapper .search-warp .search-con .search-box .search-t .search-tab ul li.select{
    color:#FFFFFF;
    font-weight: 700;
    background:linear-gradient(to right,#ff9000 0,#ff5000 100%);
}
.wrapper .search-warp .search-con .search-box .search-t .search-panel{
    width: 627px;
    height: 40px;
    /*border: 1px solid #000000;*/
    position: relative;
}
.wrapper .search-warp .search-con .search-box .search-t .search-panel form{

}
.wrapper .search-warp .search-con .search-box .search-t .search-panel form .btn{
    width: 74px;
    height: 40px;
    /*border: 1px solid #000000;*/
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
}
.wrapper .search-warp .search-con .search-box .search-t .search-panel form .btn button{
    border: none;
    width: 100%;
    height: 100%;
    background:linear-gradient(to right,#ff9000 0,#ff5000 100%);
    color: #FFFFFF;
    font-weight: 700;
    cursor: pointer;
}
.wrapper .search-warp .search-con .search-box .search-t .search-panel form .search-inp-box{
    width: 551px;
    height: 36px;
    /*border-right:1px solid #000000;*/
    border:2px solid #ff5000;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    overflow: hidden;
}
.wrapper .search-warp .search-con .search-box .search-t .search-panel form .search-inp-box .search-inp{
    height: 36px;
    width: 540px;
    overflow:hidden;
}
.wrapper .search-warp .search-con .search-box .search-t .search-panel form .search-inp-box .search-inp input{
    height: 24px;
    width: 472px;
    padding: 6px 20px;
    border: none;
    outline: 0;
    text-indent: 10px;
}
.wrapper .search-warp .search-con .search-box .sousuo,
.wrapper .search-warp .search-con .search-box .camera{
    display: inline-block;
    position: absolute;
}
.wrapper .search-warp .search-con .search-box .sousuo{
    width: 12px;
    height: 14px;
    top: 12px;
    left: 14px;
    background-image:url("img/fdj.png");
    background-size: 100% 100%;
}
.wrapper .search-warp .search-con .search-box .camera{
    width: 20px;
    height: 22px;
    top: 11px;
    right: 85px;
    background-image: url("img/camera.png");
    background-size: 100% 100%;
}


.wrapper .search-warp .search-con .search-box .search-bl{
    width: 627px;
    height: 20px;
    /*border: 1px solid #C12627;*/
}
.wrapper .search-warp .search-con .search-box .search-bl a{
    font-size: 12px;
    margin-right: 6px;
    color: #666;
}
.wrapper .search-warp .search-con .search-box .search-bl a.active{
    color: #f40;
}
.wrapper .search-warp .search-con .search-box .search-bl a.active,
.wrapper .search-warp .search-con .search-box .search-bl a:hover{
    color: #ff5000;
}

.wrapper .search-warp .search-con .code-box{
    display: inline-block;
    width: 76px;
    height: 90px;
    border: 1px solid #eee;
    margin-left: 120px;
    position: relative;
}
.wrapper .search-warp .search-con .code-box .phone{
    color: #ff5000;
    font-size: 14px;
    line-height: 20px;
    margin-left: 9px;
}
.wrapper .search-warp .search-con .code-box .code{
    display: inline-block;
    width: 62px;
    height: 62px;
    background: url("img/ewm.png") no-repeat;
    background-size: 100% 100%;
    margin-left: 7px;
}
.wrapper .search-warp .search-con .code-box .close{
    position: absolute;
    display: inline-block;
    left: -18px;
    top: -1px;
    border: 1px solid #eee;
    color:#ddd;
    font-size: 14px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
}


/************************************************/
.wrapper .screen-nav{
    width: 1190px;
    height: 30px;
    background:linear-gradient(to right,#ff9000 0,#ff5000 100%);
    margin: 0 auto;
}
.wrapper .screen-nav .screen-nav-con{
    width: 100%;
    height: 100%;
}
.wrapper .screen-nav .screen-nav-con h2{
    float: left;
    color: #FFFFFF;
    font-size: 16px;
    width: 190px;
    height: 100%;
    background-color: #ff5000;
    text-align: center;
    line-height: 30px;
}
.wrapper .screen-nav .screen-nav-con ul{
    float: left;
    /*font-size: 16px;*/
    /*height: 30px;*/
}
.wrapper .screen-nav .screen-nav-con ul li{
    float: left;
    margin: 0 3px;
    padding: 0 4px;
    position: relative;
}
.wrapper .screen-nav .screen-nav-con ul li:hover::before{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background: url("img/up.png") no-repeat;
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -15px;
}
.wrapper .screen-nav .screen-nav-con ul li a{
    line-height: 30px;
    color: #FFFFFF;
    font-weight: 700;
}

/******************************************************/
.wrapper .screen-box{
    width: 1190px;
    height: 630px;
    /*border: 1px solid #000000;*/
    margin: 0 auto;
}
/*底部左侧部分*/
.wrapper .screen-box .main{
    width: 890px;
    height: 632px;
    /*border: 1px solid #000000;*/
    float: left;
}
.wrapper .screen-box .main .main-inner{
    width: 890px;
    height: 522px;
    /*border: 1px solid #000000;*/
    position: relative;
}
/*.wrapper .screen-box .main .main-main{*/
    /*width: 890px;*/
    /*height: 522px;*/
    /*!*background-color: #ffeee5;*!*/
    /*!*display: none;*!*/
    /*position: relative;*/
/*}*/
.wrapper .screen-box .main .main-main .left-inner{
    width: 700px;
    height: 542px;
    /*border: 1px solid #000;*/
    background-color: #fff;
    position: absolute;
    left: 190px;
    top: 0;
    display: none;
    z-index: 1;
}
.wrapper .screen-box .main .main-main .left-inner .inner_top{
    width: 700px;
    height: 271px;
    /*border: 1px solid #000;*/
}
.wrapper .screen-box .main .main-main .left-inner h5{
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: 600;
}
.wrapper .screen-box .main .main-main .left-inner h5 a:first-child{
    float: left;
    margin-left: 15px;
}
.wrapper .screen-box .main .main-main .left-inner h5 a:last-child{
    float: right;
    margin-right: 15px;
}
.wrapper .screen-box .main .main-main .left-inner p{
    margin-top: 20px;
    margin-left: 10px;
}
.wrapper .screen-box .main .main-main .left-inner p a{
    display: inline-block;
    margin: 5px 10px;
}
.wrapper .screen-box .main .main-main .left-inner .inner_bottom{
    width: 700px;
    height: 271px;
    /*border: 1px solid #000;*/
}


.wrapper .screen-box .main .main-inner .inner-left{
    width: 190px;
    height: 522px;
    border: 1px solid #f40;
    border-top: none;
    float: left;
    background-color: #FFFFFF;
}
.wrapper .screen-box .main .main-inner .inner-left ul li{
    height: 32px;
    width: 155px;
    padding-left: 20px;
    padding-right: 14px;
    position: relative;
}
.wrapper .screen-box .main .main-inner .inner-left ul li a{
    font-weight: 400;
    color: #666;
    font-size: 14px;
    line-height: 32px;
}
.wrapper .screen-box .main .main-inner .inner-left ul li:hover{
    background-color: #ffe4bc;
}
.wrapper .screen-box .main .main-inner .inner-left ul li:hover a{
    color: #ff5000;
}
.wrapper .screen-box .main .main-inner .inner-left ul li span{
    display: inline-block;
    width: 5px;
    height: 8px;
    /*border: 1px solid #000000;*/
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -4px;
    background: url("img/yjt.png");
    background-size: 100% 100%;
}
.wrapper .screen-box .main .main-inner .inner-content{
    width: 520px;
    height: 522px;
    /*border: 1px solid #000000;*/
    float: left;
    position: absolute;
    left: 190px;
    top: 0;
}
.wrapper .screen-box .main .main-inner .inner-content .pic-box{
    /*padding: 4px;*/
    width: 520px;
    height: 280px;
    /*border: 1px solid #478EDE;*/
    /*margin: 10px auto;*/
    position: relative;
    top: 8px;
    left: 3px;
}
.wrapper .screen-box .main .main-inner .inner-content .pic-box img{
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    cursor:default
}
.wrapper .screen-box .main .main-inner .inner-content .pic-box ul{
    height: 13px;
    position: absolute;
    left: 210px;
    bottom: 20px;
    border-radius: 10px;
    text-align: center;
    line-height: 13px;
    background-color: rgba(255, 255, 255, 0.3);
    cursor:default
}
.wrapper .screen-box .main .main-inner .inner-content .pic-box ul li{
    list-style: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FFFFFF;
    display: inline-block;
    margin: 0 3px;
    cursor:pointer
    /*background-color: #f40;*/
}


.wrapper .screen-box .main .main-inner .inner-content .inner-mall{
    width: 520px;
    height: 226px;
    padding: 12px 8px;
}
.wrapper .screen-box .main .main-inner .inner-content .inner-mall .tm{
    font-size: 12px;
    color: #666;
}
.wrapper .screen-box .main .main-inner .inner-right{
    float: left;
    width: 160px;
    height: 522px;
    padding: 8px 9px;
    position: absolute;
    left: 710px;
    top: 0;
}
.wrapper .screen-box .main .main-inner .inner-right .hot{
    font-size: 14px;
    margin-top: 7px;
}
.wrapper .screen-box .main .main-bottom{
    width: 888px;
    height: 110px;
    /*border: 1px solid #000000;*/
}
.wrapper .screen-box .main .main-bottom .content{
    background-color: #FFFFFF;
    padding: 12px 14px;
    margin-top: 10px;
    position: relative;
}
.wrapper .screen-box .main .main-bottom .content .logo-box{
    width: 180px;
    height: 73px;
    background-image: url("img/tbtt.png");
    background-position: 100% 100%;
}
.wrapper .screen-box .main .main-bottom .content a{
    position: absolute;
    top: 10px;
    left: 200px;
}
.wrapper .screen-box .main .main-bottom .content a img{
    float: left;
}
.wrapper .screen-box .main .main-bottom .content a h4{
    margin-top: 2px;
    margin-left: 144px;
    color: #333;
    height: 28px;
    line-height: 28px;
    font-size: 16px;
}
.wrapper .screen-box .main .main-bottom .content a h4:hover{
    color: #ff5000;
}
.wrapper .screen-box .main .main-bottom .content a p{
    margin-left: 144px;
    color: #999;
    line-height: 18px;
    height: 36px;
    overflow: hidden;

}
/*底部右侧部分*/
.wrapper .screen-box .col-right{
    width: 296px;
    height: 632px;
    /*border: 1px solid #000000;*/
    float: left;
    background-color: #fff;
    margin-left: 4px;
}
.wrapper .screen-box .col-right .member{
    width: 294px;
    height: 132px;
    /*border: 1px solid #000000;*/
    background-image: url("img/bg.png");
    background-size: 100% 100%;
    margin-top: 7px;
}
.wrapper .screen-box .col-right .member .member-head{
    width: 294px;
    height: 91px;

}
.wrapper .screen-box .col-right .member .member-head .header{
    width: 294px;
    height: 56px;
    /*border: 1px solid #000000;*/
    text-align: center;
}
.wrapper .screen-box .col-right .member .member-head .header a{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /*border: 1px solid #000000;*/
    background-image: url("img/tx.jpg");
    background-size: 100% 100%;
}
.wrapper .screen-box .col-right .member .member-head .info{
    display: block;
    width: 294px;
    height: 17px;
    color: #3c3c3c;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}
.wrapper .screen-box .col-right .member .member-head p{
    width: 294px;
    height: 17px;
    line-height: 17px;
    text-align: center;
}
.wrapper .screen-box .col-right .member .member-head p a{
    display: inline-block;
    width: 72px;
    height: 17px;
    border-radius: 9px;
    background-color: #ffe4bc;
    font-size: 12px;
    color: #ff5000;
    padding: 0 25px;
    position: relative;
}
.wrapper .screen-box .col-right .member .member-head p a span{
    position: absolute;
    display: inline-block;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    /*border: 1px solid #000;*/
    background-image: url("img/pics.png");
}
.wrapper .screen-box .col-right .member .member-head p a.icon span{
    background-position: 0  -572.5px;
}
.wrapper .screen-box .col-right .member .member-head p a.club span{
    background-position: 0 -528px;
}
.wrapper .screen-box .col-right .member .member-foot{
    width: 294px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    /*border: 1px solid #000;*/
}
.wrapper .screen-box .col-right .member .member-foot a{
    display: inline-block;
    height: 25px;
    width: 75px;
    background: linear-gradient(to right,#ff5000 0,#ff6f06 100%);
    border-radius: 4px;
    text-align: center;
    line-height: 25px;
    color: #FFFFFF;
    font-size: 14px;
}
.wrapper .screen-box .col-right .member .member-foot a.login{
    width: 92px;
}
.wrapper .screen-box .col-right .message{
    width: 294px;
    height: 26px;
    /*border: 1px solid #000;*/
}
.wrapper .screen-box .col-right .message a{
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #ffe4dd;
    color: #f40;
    font-size: 12px;
    text-align: center;
    line-height: 26px;
    position: relative;
}
.wrapper .screen-box .col-right .message a span{
    width: 10px;
    height: 10px;
    display: inline-block;
    /*border: 1px solid #000000;*/
    background-image: url("img/ysj.png");
    background-size: 100% 100%;
    position: absolute;
    top: 8px;
    right: 55px;
}
.wrapper .screen-box .col-right .notice{
    height: 98px;
    width: 100%;
    padding-top: 10px;
    /*border: 1px solid #000000;*/
    /*overflow: hidden;*/
}



.wrapper .screen-box .col-right .notice .title{
    width: 296px;
    height: 22px;
    padding-top: 5px;
}
.wrapper .screen-box .col-right .notice .title ul li{
    float: left;
    width: 32px;
    height: 20px;
    color: #3c3c3c;
    text-align: center;
    font-size: 13px;
    margin: 0 11px;
    padding: 0 2px;
    line-height: 20px;
    cursor:pointer;
}
.wrapper .screen-box .col-right .notice .title ul li:hover{
    color: #f40;
}
.wrapper .screen-box .col-right .notice .title ul li.active{
    font-weight: 700;
    border-bottom: 2px solid #f40;
}
.wrapper .screen-box .col-right .notice .content{
    width: 296px;
    height: 60px;
    /*border: 1px solid #F7DC35;*/
    /*margin-top: 10px;*/
    display: none;
}
.wrapper .screen-box .col-right .notice .content ul li{
    width: 130px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    float: left;
    margin: 0 9px;
}
.wrapper .screen-box .col-right .notice .content ul li a{
    font-size: 12px;
}
.wrapper .screen-box .col-right .notice .content ul li a:hover{
    color: #f40;
}


.wrapper .screen-box .col-right .module{
    width:100%;
    height: 230px;
    /*border: 1px solid #000000;*/
}
.wrapper .screen-box .col-right .module ul li{
    float: left;
    width: 72px;
    height: 75px;
    /*box-sizing: border-box;*/
    border: 1px solid #eee;
}
.wrapper .screen-box .col-right .module ul li:hover{
    border: 1px solid #f40;
}
.wrapper .screen-box .col-right .module ul li a{
    display: block;
    text-align: center;
}
.wrapper .screen-box .col-right .module ul li:hover a p{
    color: #f40;
}
.wrapper .screen-box .col-right .module ul li a span{
    display: inline-block;
    width: 24px;
    height: 24px;
    /*border: 1px solid #000000;*/
    background: url("img/pics.png");
    margin-top: 17px;
}
.wrapper .screen-box .col-right .module ul li a p{
    font-size: 12px;
    color: #333333;
}
.wrapper .screen-box .col-right .module ul li a span.icon1{
    background-position: 0 0;
}
.wrapper .screen-box .col-right .module ul li a span.icon2{
    background-position: 0 -88px;
}
.wrapper .screen-box .col-right .module ul li a span.icon3{
    background-position: 0 -45px;
}
.wrapper .screen-box .col-right .module ul li a span.icon4{
    background-position: 0 -132px;
}
.wrapper .screen-box .col-right .module ul li a span.icon5{
    background-position: 0 -176px;
}
.wrapper .screen-box .col-right .module ul li a span.icon6{
    background-position: 0 -220px;
}
.wrapper .screen-box .col-right .module ul li a span.icon7{
    background-position: 0 -264px;
}
.wrapper .screen-box .col-right .module ul li a span.icon8{
    background-position: 0 -307px;
}
.wrapper .screen-box .col-right .module ul li a span.icon9{
    background-position: 0 -351px;
}
.wrapper .screen-box .col-right .module ul li a span.icon10{
    background-position: 0 -395px;
}
.wrapper .screen-box .col-right .module ul li a span.icon11{
    background-position: 0 -440px;
}
.wrapper .screen-box .col-right .module ul li a span.icon12{
    background-position: 0 -482px;
}
.wrapper .screen-box .col-right .app{
    width:100%;
    height: 127px;
    /*border: 1px solid #000000;*/
}
.wrapper .screen-box .col-right .app h3{
    font-size: 14px;
    padding-left: 14px;
    line-height: 30px;
}
.wrapper .screen-box .col-right .app h3 .more{
    float: right;
    padding-right: 14px;
    font-size: 13px;
     font-weight: 500;
}
.wrapper .screen-box .col-right .app h3 .more:hover{
    color: #f40;
}
.wrapper .screen-box .col-right .app ul li{
    float: left;
    width: 32px;
    height: 32px;
    margin: 10px;
    padding-left: 6px;
}
.wrapper .screen-box .col-right .app ul li img{
    width:100%;
    height:100%;
}